/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif; */

:root {
  --heading-font: "Playfair Display", serif;
  --menu-active-color: #b9b9b9;
}

body {
  background-color: #f3f3f3;
  text-align: center;
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  margin: 50px 30px;
  font-size: 50px;
}

img:hover {
  opacity: 50%;
  transition: all 500ms ease;
}

.container {
  max-width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}

.grid-1 {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 4;
}

.grid-2 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.grid-3 {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-4 {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.grid-5 {
  grid-column-start: 1;
  grid-row-start: 4;
  grid-row-end: 5;
}

.grid-6 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.grid-7 {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

.grid-8 {
  grid-column-start: 4;
  grid-row-start: 3;
  grid-row-end: 5;
}

.grid-9 {
  grid-column-start: 2;
  grid-row-start: 4;
  grid-row-end: 5;
}
