/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif; */

:root {
  --heading-font: "Playfair Display", serif;
  --menu-active-color: #b9b9b9;
}

body {
  background-color: #f3f3f3;
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  margin: 60px 30px 20px;
  font-size: 50px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  opacity: 60%;
  margin-bottom: 50px;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: 600;
  opacity: 80%;
  margin-bottom: 20px;
}

.image-fill:hover {
  opacity: 50%;
  transition: all 500ms ease;
}

.main-section {
  width: 70vw;
  height: 50vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
}

.grid-1 {
  grid-row: span 3;
}

.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7 {
  grid-row: span 2;
}

.image-fill {
  background-size: cover;
  background-position: center;
}

.grid-1.image-fill {
  background-image: url("/images/bicycle_lemons.JPG");
}

.grid-2.image-fill {
  background-image: url("/images/barkas.jpg");
}

.grid-3.image-fill {
  background-image: url("/images/protea.JPG");
}

.grid-4.image-fill {
  background-image: url("/images/sky.JPG");
}

.grid-5.image-fill {
  background-image: url("/images/girl_red_barret.JPG");
}

.grid-6.image-fill {
  background-image: url("/images/lemons_2.JPG");
}

.grid-7.image-fill {
  background-image: url("/images/lemons.JPG");
}

.grid-8.image-fill {
  background-image: url("/images/roquebrun.jpg");
}

.grid-9.image-fill {
  background-image: url("/images/flowers.JPG");
}

.about-text {
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

.about-text a {
  text-decoration: none;
  color: black;
  opacity: 70%;
  font-weight: 400;
}

.about-section {
  width: 55vw;
  height: 50vw;
}

.about-text h2 {
  color: black;
  opacity: 100%;
}

.about-text p {
  font-weight: 300;
  font-size: smaller;
}

@media (max-width: 576px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    height: 170vw;
    grid-gap: 10px;
  }
  h1 {
    font-size: 35px;
    margin: 40px 20px 15px;
  }
  h2 {
    font-size: small;
    margin-bottom: 25px;
  }

  .about-text h3 {
    margin-top: 20px;
    text-align: center;
  }

  .about-section img {
    display: block;
    margin: 0 auto;
  }

  .about-section {
    width: 70vw;
  }
}
