/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Work Sans', sans-serif; */
/* transition: all 100ms ease-in-out; */
/* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6); */

:root {
  --heading-font: "Playfair Display", serif;
  --menu-active-color: #9c9c9c;
}

body {
  background-color: #f3f3f3;
}

header {
  /* position: fixed; */
  background-color: #f3f3f3;
  width: 100%;
  margin: 0;
  top: 0;
}

footer {
  margin: 60px auto 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  margin: 40px 30px 30px;
  font-size: 50px;
  letter-spacing: 2px;
}

li {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  opacity: 60%;
  margin-bottom: 20px;
}
.active,
li a:hover {
  color: var(--menu-active-color);
  font-weight: 600;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: 600;
  opacity: 80%;
  margin-bottom: 20px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0 10px 0;
  gap: 30px;
}

li {
  list-style: none;
}

li a {
  text-decoration: none;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.container {
  /* padding-top: 160px; */
}

.image-fill:not(.shade):hover {
  opacity: 50%;
  transition: all 500ms ease;
}

.main-section {
  width: 70vw;
  height: 50vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 12px;
}

.grid-1 {
  grid-row: span 3;
}
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7 {
  grid-row: span 2;
}

.image-fill {
  background-size: cover;
  background-position: center;
}

.grid-1.image-fill {
  background-image: url("/images/bicycle_lemons.JPG");
}
.grid-2.image-fill {
  background-image: url("/images/barkas.jpg");
}
.grid-3.image-fill {
  background-image: url("/images/protea.JPG");
}
.grid-4.image-fill {
  background-image: url("/images/sky.JPG");
}
.grid-5.image-fill {
  background-image: url("/images/girl_red_barret.JPG");
}
.grid-6.image-fill {
  background-image: url("/images/lemons_2.JPG");
}
.grid-7.image-fill {
  background-image: url("/images/lemons.JPG");
}
.grid-8.image-fill {
  background-image: url("/images/roquebrun.jpg");
}
.grid-9.image-fill {
  background-image: url("/images/flowers.JPG");
}

.oil-gallery-section {
  width: 70vw;
  height: 340vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 23px;
}

.gallery-section {
  width: 70vw;
  height: 120vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 23px;
}

.shader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
}
.shader:hover {
  opacity: 1;
  transition: all 500ms ease;
}

.oil-1 {
  background-image: url("/images/chamonix1.JPG");
}
.oil-2 {
  background-image: url("/images/girl_red_barret.JPG");
}
.oil-3 {
  background-image: url("/images/bicycle_lemons.JPG");
}
.oil-4 {
  background-image: url("/images/france.JPG");
}
.oil-5 {
  background-image: url("/images/barkas.jpg");
}
.oil-6 {
  background-image: url("/images/car_pink.JPG");
}
.oil-7 {
  background-image: url("/images/flowers.JPG");
}
.oil-8 {
  background-image: url("/images/lemons.JPG");
}
.oil-9 {
  background-image: url("/images/lemons_2.JPG");
}
.oil-10 {
  background-image: url("/images/pink_flower.JPG");
}
.oil-11 {
  background-image: url("/images/protea.JPG");
}
.oil-12 {
  background-image: url("/images/roquebrun.jpg");
}
.oil-13 {
  background-image: url("/images/sky.JPG");
}
.oil-14 {
  background-image: url("/images/woman.JPG");
}
.oil-15 {
  background-image: url("/images/yorkshire.JPG");
}
.oil-16 {
  background-image: url("/images/river.JPG");
}
.oil-17 {
  background-image: url("/images/dessert3.jpeg");
}
.oil-18 {
  background-image: url("/images/portrait.JPG");
}
.oil-19 {
  background-image: url("/images/dont_leave.jpeg");
}
.oil-20 {
  background-image: url("/images/texas.jpeg");
}
.oil-21 {
  background-image: url("/images/lighthouse.jpeg");
}
.oil-22 {
  background-image: url("/images/bear.JPG");
}
.oil-23 {
  background-image: url("/images/dessert2.JPG");
}
.oil-24 {
  background-image: url("/images/girl.jpeg");
}
.oil-25 {
  background-image: url("/images/melancholy.jpeg");
}
.oil-26 {
  background-image: url("/images/ski_resort.jpeg");
}
.oil-27 {
  background-image: url("/images/room.jpg");
}
.oil-28 {
  background-image: url("/images/dessert1.jpg");
}
.oil-29 {
  background-image: url("/images/fly.jpg");
}
.oil-30 {
  background-image: url("/images/deer.jpg");
}
.oil-31 {
  background-image: url("/images/carpaty.jpg");
}
.oil-32 {
  background-image: url("/images/fenocchio.jpg");
}
.oil-33 {
  background-image: url("/images/stairs.jpg");
}
.oil-34 {
  background-image: url("/images/piste12.jpg");
}
.oil-35 {
  background-image: url("/images//car_green.jpg");
}
.oil-36 {
  background-image: url("/images/car_yellow.jpg");
}
.oil-37 {
  background-image: url("/images/plein_air.jpg");
}
.oil-38 {
  background-image: url("/images/annecy.jpg");
}

.about-text {
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

.about-text a {
  text-decoration: none;
  color: black;
  opacity: 70%;
  font-weight: 400;
}
.about-text a:hover {
  text-decoration: underline;
}

.about-section {
  width: 55vw;
  height: 40vw;
}

.about-text h2 {
  color: black;
  opacity: 100%;
}

.about-text p {
  font-weight: 300;
  font-size: smaller;
}

.contact-section {
  width: 55vw;
  height: 40vw;
}

.contact {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  margin-bottom: 20px;
  line-height: 25px;
  font-size: 15px;
}

.mailto {
  text-decoration: none;
  color: black;
}

.mailto:hover {
  color: black;
}

input.name,
.email,
textarea {
  width: 100%;
  background-color: #f3f3f3;
  border-style: solid;
  border-width: 1px;
  padding: 1px 1px 1px 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: smaller;
  font-style: italic;
  margin: 3px;
}

input.name,
.email,
textarea:focus {
  outline-color: rgb(77, 77, 77);
}

.submit {
  background-color: black;
  color: white;
  border-width: 1px;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: smaller;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  padding: 3px 30px 3px 30px;
  margin: 3px;
}

.follow-me p {
  margin: 20px 0 15px;
}

.social-media a {
  padding: 5px 10px;
  color: var(--menu-active-color);
  font-size: 18px;
}
.social-media a i {
  transition: all 0.3s linear;
}
.social-media a:hover {
  color: black;
}
.social-media a:hover i {
  transform: scale(1.5);
}

.footer-source {
  font-size: small;
  color: var(--menu-active-color);
}
.footer-source a {
  color: var(--menu-active-color);
}

@media (max-width: 576px) {
  footer {
    margin: 40px auto;
  }

  h1 {
    font-size: 25px;
    margin: 20px 20px 15px;
  }
  h2 {
    font-size: small;
    margin: 20px 25px;
  }

  ul {
    gap: 10px;
  }

  li {
    margin-bottom: 5px;
    font-size: 12px;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
    height: 170vw;
    grid-gap: 10px;
  }

  .about-text h3 {
    margin-top: 20px;
    text-align: center;
  }

  .about-section img {
    display: block;
    margin: 0 auto;
  }

  .about-section {
    width: 60vw;
  }

  .contact {
    font-size: smaller;
  }

  .submit {
    width: 100%;
  }
}
